body {
  background-image: url('https://file.garden/aG3rdTNO_Dlar7-g/back.png');
  background-size: 100%;
  margin: auto;
}

.body {
  width: 675px;
  height: 900px;
	margin: auto;
	margin-top: 0px;
	background-image: url('https://file.garden/aG3rdTNO_Dlar7-g/black%20body.png');
	padding: 24px 60px;
	box-sizing: border-box;
	margin-bottom: 0px;
}

.container {
	margin: auto;
	position: fixed;
  top: 50%;      
  left: 50%;    
  transform: translate(-50%, -50%); 
  
  width: 300px;
  height: 200px;
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
