body {
  background-image: url('https://file.garden/aG3rdTNO_Dlar7-g/back.png');
  background-size: 100%;
  margin: auto;
}

.body {
  width: 675px;
  height: 900px;
	margin: auto;
	margin-top: 0px;
	background-image: url('https://file.garden/aG3rdTNO_Dlar7-g/black%20body.png');
	box-sizing: border-box;
	margin-bottom: 0px;
	position: relative;
}

.container {
  position:absolute;
  margin: auto;
  left: -13px;
  top: -15px;
}  
