body {
  background-image: url('https://file.garden/aG3rdTNO_Dlar7-g/back.png');
  background-size: 100%;
  margin: auto;
}

.body {
  width: 675px;
  height: 900px;
	margin: auto;
	margin-top: 0px;
	background-image: url('https://file.garden/aG3rdTNO_Dlar7-g/black%20body.png');
	
	margin-bottom: 0px;
	position: relative;
}

.container {
  position:absolute;
  margin: auto;
  left: -13px;
  top: -15px;
}  


.crt {
  position:absolute;
  margin: auto;
  width: 200px;
  height: 195.89px;
  left: 15px;
  top: 35px;
  object-fit: contain;
}

.kch{
  position:absolute;
  margin: auto;
  width: 160px;
  height: 170px;
  left: 66px;
  top: 473px;
  object-fit: contain;
}


.pkm{
  position:absolute;
  margin: auto;
  width:266.42px;
  height: 297.33px;
  left: 121px;
  top: 464px;
  object-fit: contain;
}
